@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;800&display=swap');

@import url("https://use.typekit.net/wyo1uve.css");

/* Reset */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #fefefe;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%;
}
ul { padding: 0; }
a { text-decoration: none; color: inherit; }
button { cursor: pointer; }

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 9999;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Typography */
h1, h2, h3, h4, h5 {
  font-weight: 600;
  /* color: #4635EA; */
  color: #484848;
  line-height: 1.1;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}
p, a, input, label, footer, li {
  color: #484848;
  letter-spacing: 0.5px;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ===============
 * Fixed Accents
 * =============== */
.bottom-line {
  position: fixed;
  float: left;
}
.bottom-line ul {
  list-style: none;
  margin: 0;
}
.bottom-line.left {
  bottom: 0px;
  left: 1.4%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom-line.left::after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  margin: 0px auto;
  background-color: #484848;
}
.bottom-line.left li {
  padding: 5px 0px;
}
.bottom-line li:last-of-type {
  padding-bottom: 10px;
}
.bottom-line.left img {
  width: 20px;
}
.bottom-line.right {
  bottom: 0;
  right: 1.4%;
}
.bottom-line.right p {
  writing-mode: vertical-rl;
  margin: 0px;
  padding-bottom: 15px;
}
.bottom-line.right::after {
  content: "";
  display: block;
  width: 2px;
  height: 50px;
  margin: 0px auto;
  background-color: #484848;
}





/* ==========================
*  Homepage > Newsletter
 * ========================== */
.newsletter .cell {
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
}
.newsletter .cell:first-of-type {
  border-right: 2px dashed #eaeaea;
}
.newsletter form {
  position: relative;
}
.newsletter input[type="email"] {
  margin-right: 15px;
  width: 50%;
}
.newsletter button {
  background: #fefefe;
  outline: 0px;
  border: 0px; 
  border-radius: 15px;
}
.newsletter input[type="email"],
.newsletter button {
  padding: 8px 12px;
  font-size: 16px;
  border: 0px;
}
.newsletter .msg-alert p {
  margin-bottom: 0px;
}

/* ===============
 * Homepage > Loop 
 * =============== */
.home-loop {
  width: 100%;
  padding: 0px 4% 80px 4%;
}
.home-loop-title {
  width: 100%;
  padding: 80px 4% 0px 4%;
}
.home-loop-title {
  padding: 80px 4% 0px 4%;
}
.home-loop .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}
.home-loop .cell {
  width: calc(33.33% - 20px);
  margin: 10px 10px 10px 0px;
}
.home-loop .cell:last-of-type {
  margin-right: 0px;
}
.home-loop h2 {
  color: #484848;
  font-size: 28px;
  margin: 0;
}
.home-loop-title h2 a,
.home-loop-title h2 span {
  font-weight: 300;
  font-size: 60%;
  padding-left: 15px;
  color: #585858;
  letter-spacing: 0px;
}
.home-loop .image {
  height: 320px;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.home-loop .info {
  position: relative;
  margin-top: 12px;
}
.home-loop .cell .info h3 {
  margin: 8px 0px 4px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 75%;
  overflow: hidden;
}
.home-loop .info h3 a {
  color: #484848;
  font-weight: 600;
}
.home-loop .cell .info p {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  font-size: 95%;
  font-weight: 100;
  width: 75%;
  line-height: 1.1;
}
.home-loop .cell .info a.link {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  max-width: 25%;
  color: #484848;
  font-size: 90%;
}
/* ===================
 * Work Page > Loop 
* ==================== */
.work-loop {
  padding: 40px 3% 140px 6%;
}
.work-loop h2 {
  color: #484848;
  font-size: 28px;
}
.work-loop h2 a,
.work-loop h2 span {
  font-weight: 300;
  font-size: 60%;
  padding-left: 15px;
  color: #585858
}
.work-loop .container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.work-loop .item {
  flex: 1 23%;
  max-width: 23%;
  margin-bottom: 40px;
  margin-right: 2%;
}
.work-loop .image {
  height: 300px;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);;
}
.work-loop .info {
  position: relative;
}
.work-loop .info-overlay {
  background: #000;
  height: 100%;
}
.work-loop .info-overlay {
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  padding: 40px;
  transition: opacity 0.4s;
}
.work-loop .info-overlay:hover {
  opacity: 1;
}

.work-loop .info-overlay h3 a {
  margin: 0px;
  padding: 0px 20px 0px 0px;
  text-decoration: none;
  font-weight: 600;
  font-size: 140%;
  line-height: 1.3;
}
.work-loop .info-overlay a,
.work-loop .info-overlay p {
  color: #fefefe;
}

.work-loop .info-overlay a.link {
  font-weight: 600;
  border-radius: 3px;
}
.work-loop .arrow-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: all 0.3s;
}
.work-loop .arrow-right:hover {
  background: #eaeaea;
  bottom: 23px;
}
.work-loop .arrow-right img {
  width: 23px;
}
/* ==========================
*  Homepage > Services
 * ========================== */
.homepage-services {
  display: flex;
  flex-direction: row;
  background: #f1f1f1;
  padding: 40px 20px;
}
.homepage-services .cell {
  width: 48%;
  padding: 40px;
  margin: 0px 40px;
}
.homepage-services button {
  padding: 10px 16px;
  border-radius: 14px;
  background: #fefefe;
  font-weight: 400;
  outline: 0;
  border: 0;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.homepage-services button:hover {
  border-radius: 10px;
  letter-spacing: 1px;
  background: #ffffff;
}

/* ==========================
*  Project Page
 * ========================== */
.project-container {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding: 80px 10%;
}
.project-container .intro {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.project-container p {
  font-size: 140%;
}

.back-to-home {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}


/* =============================
 * About Page
 * ============================= */
.about-container {
  display: flex;
  flex-direction: row;
  padding-top: 72px;
}
.about-container .cell {
  width: 50%;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-container .cell div {
  width: 100%;
}
.about-container .left {
  background: #eaeaea;
}
.about-container p.intro {
  font-size: 1.8rem;
}
.about-container strong {
  padding-right: 15px;
  font-size: 130%;
}

footer {
  font-size: 80%;
  border-top: 2px solid #484848;
}
/* =============================
 * ||MQ|| Media Queries
 * ============================= */
@media screen and (max-width: 1500px) {

  /* Homepage > Loop */
  .work-loop .item {
    flex: 1 31%;
    max-width: 31%;
  }

}
@media screen and (max-width: 950px) {
  .bottom-line.left {
    left: 1%;
  }
  .bottom-line.right {
    right: 1%;
  }
  /* Homepage > Hero */
  .hero .row {
    padding: 10px 20px;
  }
  .hero .row.intro {
    padding: 0px 40px;
  }
  .hero .row .image {
    padding: 10px 0px 40px 0px;
  }
  .home-loop .cell {
    width: calc(50% - 20px);
    margin: 10px 10px 10px 0px;
  }
  .home-loop .cell:last-of-type {
    display: none;
  }
  .homepage-services {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .homepage-services .cell {
    width: 100%;
    padding: 60px;
    margin: 0px;
  }
  .homepage-services .cell:first-of-type {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
  }
  /* Work Page > Loop */
  .work-loop {
    padding: 20px 30px;
  }
  .work-loop .item {
    flex: 1 48%;
    max-width: 48%;
    margin-bottom: 50px;
  }
  .work-loop li.item:nth-child(even) {
    margin-right: 0px;
  }
  .work-loop .container {
    justify-content: center;
  }
  .project-container {
    padding: 40px 6%
  }
  .contact-container {
    padding-top: 40px;
  }

}
@media screen and (max-width: 694px) {

  .bottom-line.left,
  .bottom-line.right {
    display: none;
  }
  h1.hero-title {
    font-size: 25px;
    max-width: 100%;
  }
  .home-loop .cell {
    width: 100%;
    margin: 10px 0px 50px 0px;
  }
  .home-loop .cell:last-of-type {
    display: block;
  }
  /* Homepage > Loop */
  .work-loop .item {
    flex: 1 100%;
    max-width: 100%;
    margin-right: 0;
  }
  .work-loop .image {
    height: 450px;
  }
  /* Contact Page */
  .contact-radio-container {
    flex-direction: column;
  }
  .radio-btn {
    margin: 0px 0px 12px 0px;
  }
  .newsletter {
    flex-direction: column;
  }
  .newsletter .cell {
    width: 100%;
  }
  .newsletter form {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0px 10px 0px;
  }
  .newsletter .cell:first-of-type {
    border-right: 0px;
    border-bottom: 2px dashed #eaeaea;
    padding-bottom: 30px;
  }
  .newsletter input {
    width: 60%;
  }

}









